<div class="personnel-info">
    <div class="input-container">
        <label for="last_name">Прізвище: </label>
        <input id="last_name" type="text" value="<%= personnel.last_name %>" disabled>
    </div>

    <div class="input-container">
        <label for="first_name">Ім'я: </label>
        <input id="first_name" type="text" value="<%= personnel.first_name %>" disabled>
    </div>

    <div class="input-container">
        <label for="middle_name">По батькові: </label>
        <input id="middle_name" type="text" value="<%= personnel.middle_name %>" disabled>
    </div>

    <div class="input-container">
        <label for="enlistment_date">Дата призову на військову службу: </label>
        <input id="enlistment_date" type="date" value="<%= personnel.enlistment_date %>" disabled>
    </div>

    <div class="input-container">
        <label for="military_rank">Військове звання: </label>
        <input id="military_rank" type="text" value="<%= personnel.military_rank %>" disabled>
    </div>

    <div class="input-container">
        <label for="position">Посада: </label>
        <input id="position" type="text" value="<%= personnel.position %>" disabled>
    </div>
</div>