<form id="serviceman-edit" class="custom-form">
    <input type="hidden" name="company_id" value="<%= actionData.company.id_company%>">
    <input type="hidden" name="id_serviceman" value="<%= actionData.serviceman.id_serviceman%>">

    <div class="input-block">
        <label for="last_name">Прізвище:</label>
        <input id="last_name" name="last_name" type="text"
               value="<%= actionData.serviceman.last_name%>"
               required maxlength="20"
               autofocus
               placeholder="Шевченко">
    </div>

    <div class="input-block">
        <label for="first_name">Ім'я:</label>
        <input id="first_name" name="first_name" type="text"
               value="<%= actionData.serviceman.first_name%>"
               required maxlength="20"
               placeholder="Тарас">
    </div>

    <div class="input-block">
        <label for="middle_name">По батькові:</label>
        <input id="middle_name" name="middle_name" type="text"
               value="<%= actionData.serviceman.middle_name%>"
               required maxlength="20"
               placeholder="Григорович">
    </div>

    <div class="input-block">
        <label for="military_rank">Військове звання:</label>
        <select name="military_rank" id="military_rank"
                required>
            <option value="солд.">солд.</option>
            <option value="ст. солд.">ст. солд.</option>
            <option value="мл. с-т">мл. с-т</option>
            <option value="с-т">с-т</option>
            <option value="ст. с-т">ст. с-т</option>
            <option value="перший с-т">перший с-т</option>
            <option value="штаб с-т">штаб с-т</option>
            <option value="майстер с-т">майстер с-т</option>
            <option value="ст. майстер с-т">ст. майстер с-т</option>
            <option value="головний майстер с-т">головний майстер с-т</option>
            <option value="мл. л-т">мл. л-т</option>
            <option value="л-т">л-т</option>
            <option value="ст. л-т">ст. л-т</option>
            <option value="к-н">к-н</option>
            <option value="м-р">м-р</option>
        </select>
    </div>

    <div class="input-block">
        <label for="position">Посада:</label>
        <input id="position" name="position" type="text"
               value="<%= actionData.serviceman.position%>"
               required maxlength="20"
               placeholder="командир роти">
    </div>

    <div class="input-block">
        <label for="birth_date">Дата народження:</label>
        <input id="birth_date" name="birth_date" type="text"
               value="<%= actionData.serviceman.birth_date%>"
               required minlength="10" maxlength="10"
               placeholder="ДД-ММ-РРРР">
    </div>

    <div class="input-block">
        <input class="btn" type="submit" value="Редагувати">
    </div>
</form>