<form id="weapon-description" class="custom-form">
    <div class="input-block">
        <lable>Назва оброєння:</lable>
        <input type="text" value="<%= actionData.weapon.name_weapon %>" disabled>
    </div>

    <div class="input-block">
        <lable>Серійний номер:</lable>
        <input type="text" value="<%= actionData.weapon.serial_number %>" disabled>
    </div>

    <div class="input-block">
        <lable>Дата виготовлення:</lable>
        <input type="text" value="<%= actionData.weapon.date_manufacture %>" disabled>
    </div>

    <div class="input-block">
        <lable>Власник:</lable>
        <input type="text"
               value="<%= actionData.serviceman.military_rank %> <%= actionData.serviceman.last_name %> <%= actionData.serviceman.first_name[0].toUpperCase() %>.<%= actionData.serviceman.middle_name[0].toUpperCase() %>."
               disabled>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-p"
                onclick="redirectToEditWeaponPage('<%= actionData.company.id_company %>','<%= actionData.weapon.id_weapon %>')">
            Редагувати озброєння
        </button>
        <button type="button" class="btn btn-p"
                onclick="removeWeapon('<%= actionData.company.id_company %>','<%= actionData.weapon.id_weapon %>')">
            Видалити озброєння
        </button>
    </div>
</form>

<form id="weapon-ttx" class="custom-form">
    <% function parseTTX(array) {
        const parsedArray = [];

        for (let i = 0; i < array.length; i++) {
            const characteristic = array[i];
            if (characteristic.length === 0) continue;
            const [property, value] = characteristic.split(":").map((item) => item.trim());
            const unitMeasure = value.split(" ")[1];

            parsedArray.push({property, value: value.split(" ")[0], unit_measure: unitMeasure});
        }

        return parsedArray;
    } %>

    <div class="table">
        <h1>Тактико-технічні характеристики</h1>
        <table id="ttx-table" class="custom-table">
            <thead class="table-head">
            <tr>
                <th class="table-head-item">Властивість</th>
                <th class="table-head-item">Значення</th>
                <th class="table-head-item">Одиниця виміру</th>
            </tr>
            </thead>
            <tbody class="table-body">
            <% ttx = parseTTX(actionData.weapon.TTX.split(";")) %>
            <% ttx.forEach((characteristic)=>{ %>
                <tr>
                    <td class="table-body-item"><%= characteristic.property %></td>
                    <td class="table-body-item"><%= characteristic.value %></td>
                    <td class="table-body-item"><%= characteristic.unit_measure %></td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    </div>
</form>

<form id="weapon-maintenance" class="custom-form">
    <div class="table">
        <h1>Тахнічне обслуговування</h1>
        <table id="ttx-table" class="custom-table">
            <thead class="table-head">
            <tr>
                <th class="table-head-item">№</th>
                <th class="table-head-item">Тип ТО</th>
                <th class="table-head-item">Дата проведення ТО</th>
                <th class="table-head-item">Дії</th>
            </tr>
            </thead>
            <tbody class="table-body">
            <% actionData.maintenances.forEach((maintenance, index)=>{ %>
                <tr>
                    <td class="table-body-item"><%= index + 1 %></td>
                    <td class="table-body-item"><%= maintenance.type_maintenance %></td>
                    <td class="table-body-item"><%= maintenance.date_maintenance %></td>
                    <td class="table-body-item">
                        <div class="actions">
                            <button type="button" class="action edit"
                                    onclick="redirectToEditMaintenancePage('<%= actionData.company.id_company %>','<%= maintenance.id_maintenance %>')">
                                <%- include("../../actions/edit.ejs") %></button>
                            <button type="button" class="action delete"
                                    onclick="removeMaintenance('<%= maintenance.id_maintenance %>')">
                                <%- include("../../actions/delete.ejs") %></button>
                        </div>
                    </td>
                </tr>
            <% }) %>
            </tbody>
        </table>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-p"
                onclick="redirectToAddMaintenancePage('<%= actionData.company.id_company %>','<%= actionData.weapon.id_weapon %>')">
            Додати ТО
        </button>
    </div>
</form>

<link rel="stylesheet" href="/public/css/modal.css">
<%- include("../add/addTTX.ejs") %>
<%- include("../edit/editTTX.ejs") %>
<script src="/public/js/ttxModal.js"></script>